body{
  background-color: #343d46;
  color:black;
  text-align: center;
  font-family: Arial;
}

.login_submit{
  background-color: #419873;
  color: white;
  border-color: #419873;
  border-style: none;
  border-radius: 5px;
  width: 30%;
  height: 40px;
  text-transform: uppercase;
  margin-top: 2%;
  margin-bottom: 2%;
}

.login_site_link{
  color: #65737e;
  text-decoration: none;
  font-size: 15px;
}

#title{
  text-transform: uppercase;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 40px;
  color: white;
}


.login_text_field{
  width: 30%;
  height: 30px;
  font-size: 20px;
  margin-bottom: 2%;
}

.login_text_field:focus{
  width: 30%;
  height: 30px;
  font-size: 20px;
  border: solid 2px #fff;
  border-color: #419873;
  border-radius: 4px;
}

.select_list{
  width: 30%;
  height: 40px;
  border-radius: 4px;
  font-size: 20px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.labels{
  margin-top: 5px;
  margin-right: 25%;
  font-size: 25px;
  color: #343d46;
}

.message-box{
  width: 20%;
  height: 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #fe5757;
  padding: 5px;
  border: 2px solid #fe5757;
}


/* styl layoutu admina */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343d46;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: black;
}

/* styl dla submenu */

ul.submenu{
  list-style-type: none;
  background-color: #65737e;
  margin-top: 3.60%;
  margin-bottom:5%;
  margin-left: 0;
  overflow: hidden;
}

li.submenu{
    float: left;
}

li a.submenu {
  text-decoration: none;
  margin-left: 0;
  color: white;
  padding: 10px;
  margin: 0;
  display: block;
  font: 17px/1 Helvetica, Verdana, sans-serif;
}

a:hover.side-menu{
  background-color: #36454f;
  padding: 10px;
  margin-left: 0;
}

/*kolorowanie elementu na pasku nawigacyjnym w zależności na której stronie się znajdujemy */
body.app a.app:link,
body.categories a.categories:link{
	color: white ;
	background-color: #419873;
}

body.app a.app:hover,
body.categories a.categories:hover{
	color: white ;
	background-color: #419873;
}

/* styl tablicy - w typie card, fix main row, green main row*/

table, tr{
  width: 20px;
  border:1px solid #ccc;
  border-collapse: collapse;

}

td{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

table{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

tr:nth-child(odd) {background-color: #f2f2f2}


th{
  background-color: #419873;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

/*akceptuj i odrzuc icona*/

.logo{
  overflow: hidden;
  background: url(yes.png) no-repeat ;
  background-color: green;
}
